.Home {
  background-color: #282c34;
  text-align: center;
}

.Home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

.Home-header > h1 {
  position: absolute;
  margin-top: calc(50vh - 1em);
}

.Home-header > h2 {
  margin-top: 25vh;
}

#SplashUp {
  animation: SplashUpAnim 1s ease-in-out 2s 1 normal forwards;
}

.Home-header > :not(#SplashUp) {
  opacity: 0;
  pointer-events: none;
  animation: SplashReveal 0.5s ease-in 2s 1 normal forwards;
}

@keyframes SplashUpAnim {
  from {margin-top: calc(50vh - 1em); opacity: 1;}
  to {margin-top: -1.5em; opacity: 0;}
}

@keyframes SplashReveal {
  from {opacity: 0; pointer-events: none;}
  to {opacity: 1; pointer-events: all;}
}

#Splash {
  margin-top: 10vh;
  min-height: 90vh;
  align-content: center;
  display: grid;
  grid-template-columns: 55vw 25vw;
  gap: auto;
  margin-left: auto;
  margin-right: auto;
}

#Splash > * {
  min-width: 100%;
  max-width: 100%;
}
#Splash > img {
  border-radius: 20%;
}
#SplashLeft {
  display: grid;
  line-height: 0;
  font-size: 3vw;
  grid-template-rows: 1.5em 2.5em 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

@media screen and (max-width: 760px) {
  #Splash {
    margin-top: 10vh;
    min-height: 90vh;
    align-content: center;
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: 25vh 55vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}